
*

!dupl.py
# !google.py - API KEY
!merge.py
!README.md

!.gitignore
!exceptionsitelist
!books
!cnc
!dictionaries
!economy
!math
!radio
!recipes
!rest
!rest2
!spiritual

!informatics
!informatics2

!to-sort-0
!to-sort-1
